body{
    overflow: hidden;
}
.app
{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
   
}

.choice-container
{
    display: flex;
    width: 100%;
    height: 100%;   

}

.center-choice
{
    margin:auto;
    height: 50%;
    width: 50%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    justify-content: space-around;

}

.center-choice h1{
    flex:1;
}

.center-choice .choice
{
    flex: 1.8;
}

.choice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.choice button
{
    width: 20%;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    font-size: 20px;
}

.choice button a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.choice button:hover{
    background-color: rgb(180, 173, 173);
}

.choice button a:hover
{
    cursor: pointer;
}
//create css
.create-choice-container
{
    display: flex;
    width: 100%;
    height: 100%;   

}

.center-create-choice
{
    margin:auto;
    height: 50%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    justify-content: space-around;

}

.center-create-choice h1{
    flex:1;
}

.center-create-choice .create-choice
{
    flex: 1.8;
}

.create-choice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.create-choice button
{
    width: 16%;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    font-size: 20px;
}

.create-choice button a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.create-choice button:hover{
    background-color: rgb(180, 173, 173);
}

.create-choice button a:hover
{
    cursor: pointer;
}

.people-create-container
{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.people-create-container form
{
    height: 30%;
    width: 60%;
    margin: auto;
}

.create-ask-container 
{
    display: none;
}