<div class="choice-container">
    <a href="/" class="back">Back</a>
    <div class="center-choice">
    <h1>Vehicles Database  <br/>What do you want </h1>
    <div class="choice">
        <button class="Create"><a href="/vehicles/create">Create</a></button>
        <button class="Retrieve"><a href="/vehicles/retrieve">Retrieve</a></button>
        <button class="Update"><a href="/vehicles/update">Update</a></button>
        <button class="Destroy"><a href="/vehicles/delete">Destroy</a></button>
    </div>   
    <div class="choice-2"><button>
        <a href="/cars">Cars</a>
        <button><a href="/trucks">Trucks</a> </button>
        <button><a href="/motorbikes">Motorbikes</a> </button>
     </button></div>
    </div>

</div>