<div class="choice-container">
    <a href="/" class="back">Back</a>
    <div class="center-choice">
    <h1> What do you want <br/>Owners Database </h1>
    <div class="choice">
        <button class="Create"><a href="/owners/create">Create</a></button>
        <button class="Retrieve"><a href="/owners/retrieve">Retrieve</a></button>
        <button class="Update"><a href="/owners/update">Update</a></button>
        <button class="Destroy"><a href="/owners/delete">Destroy</a></button>

    </div>   

    </div>
    
</div>