<div class="choice-container">
    <a href="/vehicles" class="back">Back</a>
    <div class="center-choice">
    <h1>Trucks Database  <br/>What do you want </h1>
    <div class="choice">
        <button class="Create"><a href="/trucks/create">Create</a></button>
        <button class="Retrieve"><a href="/trucks/retrieve">Retrieve</a></button>
        <button class="Update"><a href="/trucks/update">Update</a></button>
        <button class="Destroy"><a href="/trucks/delete">Destroy</a></button>
    </div>   
</div>
<style>
    body {
  overflow: hidden; }

.app {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box; }

.choice-container {
  display: flex;
  width: 100%;
  height: 100%; }

.center-choice {
  margin: auto;
  height: 50%;
  width: 50%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  justify-content: space-around; }

.center-choice h1 {
  flex: 1; }

.center-choice .choice {
  flex: 1.8; }

.choice {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.choice button {
  width: 20%;
  height: 50px;
  border-radius: 15px;
  border-style: solid;
  font-size: 20px; }

.choice button a {
  text-decoration: none;
  color: black;
  font-weight: 500; }

.choice button:hover {
  background-color: #b4adad; }

.choice button a:hover {
  cursor: pointer; }

.crud-choice-container {
  display: flex;
  width: 100%;
  height: 100%; }

.center-crud-choice {
  margin: auto;
  height: 50%;
  width: 70%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  justify-content: space-around; }

.center-crud-choice h1 {
  flex: 1; }

.center-crud-choice .crud-choice {
  flex: 1.8; }

.crud-choice {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.crud-choice button {
  width: 16%;
  height: 50px;
  border-radius: 15px;
  border-style: solid;
  font-size: 20px; }

.crud-choice button a {
  text-decoration: none;
  color: black;
  font-weight: 500; }

.crud-choice button:hover {
  background-color: #b4adad; }

.crud-choice button a:hover {
  cursor: pointer; }

.back {
  height: 60px;
  width: 130px;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 40px;
  top: 25px;
  border-radius: 10px;
  border-style: solid;
  color: black;
  line-height: 55px; }

.choice-2 {
  display: flex; }

  .choice-2
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex: 1;
}

.choice-2 button{
  width: 20%;
  height: 50%;
  border-radius: 30px;
}

.choice-2 button a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.center-choice .choice {
  flex: 1;
} 
</style>