<div class="choice-container">
    <a href="/" class="back">Back</a>
    <div class="center-choice">
    <h1>People Database  <br/>What do you want </h1>
    <div class="choice">
        <button class="Create"><a href="/people/create">Create</a></button>
        <button class="Retrieve"><a href="/people/retrieve">Retrieve</a></button>
        <button class="Update"><a href="/people/update">Update</a></button>
        <button class="Destroy"><a href="/people/delete">Destroy</a></button>
    </div>   

    </div>
    
</div>