
<div class="create-choice-container">
    <div class="center-create-choice">
    <h1>What do you want to create</h1>
    <div class="create-choice">
        <button ><a href="/create/people">People</a></button>
        <button ><a href="/create/vehicle">Vehicle</a></button>
        <button ><a href="/create/owner">Owner</a></button>
        <button ><a href="/create/car">Car</a></button>
        <button ><a href="/create/truck">Truck</a></button>
        <button ><a href="/create/motorbike">Motorbike</a></button>

    </div>  
    </div>
    
</div>