<div class="choice-container">
    <div class="center-choice">
    <h1>Database controller</h1>
    <div class="choice">
        <button class="People"><a href="/people">People</a></button>
        <button class="Owners"><a href="/owners">Owners</a></button>
        <button class="Verhicles"><a href="/vehicles">Vehicles</a></button>
    </div>  
    </div>
    
</div>