<div class="choice-container">
    <div class="center-choice">
    <h1>What do you want</h1>
    <div class="choice">
        <button class="create"><a href="/create">Create</a></button>
        <button class="retrieve"><a href="/retrieve">Retrieve</a></button>
        <button class="update"><a href="/update">Update</a></button>
        <button class="destroy"><a href="/destroy">Destroy</a></button>
    </div>  
    </div>
    
</div>