<table style="width:100%" class="data-table">
  <tr>
    <th>Identify_card_ID</th>
    <th>Name</th>
    <th>Dob</th>
    <th>Address</th>
    <th>Nationality</th>
    <th>createdAt</th>
    <th>updatedAt</th>
  </tr>
</table>
