<div class="people-create-container">
    <form action="/create/people" method="POST">
        <div class="input-field">
            <input type="text" name="Identify_card_ID" placeholder="Identify_card_ID">
            <input type="text" name="Name" placeholder="Name">
            <input type="text" name="Dob" placeholder="Dob">
            <input type="text" name="Address" placeholder="Address">
            <input type="text" name="Nationality" placeholder="Nationality">
            <button class="Create">Create</button>
        </div>
        <div class="create-ask-container">
            <h1>Do you want to add this person?</h1>
            <div class="button-contain">
                <button type="submit">Yes</button>
                <button>No</button>
            </div>
        </div>
    </form>
</div>

