<div class="crud-choice-container">
    <div class="center-crud-choice">
    <h1>What do you want to retrieve</h1>
    <div class="crud-choice">
        <button ><a href="/retrieve-people">People</a></button>
        <button ><a href="/retrieve/vehicle">Vehicle</a></button>
        <button ><a href="/retrieve/owner">Owner</a></button>
        <button ><a href="/retrieve/car">Car</a></button>
        <button ><a href="/retrieve/truck">Truck</a></button>
        <button ><a href="/retrieve/motorbike">Motorbike</a></button>

    </div>  
    </div>
    
</div>